.h2{
    width: 100%;
    height: 100px;
    background: linear-gradient(-186deg,grey 15%,lightblue 54%,blue 100%);
    text-align: center;
    border-radius: 13%;
    margin-bottom: -1.2%;
}
h2{
padding-top: 2.2%;
}
/*Cuadrar la lista con el texto dar padding 25%, o fraccionar un 25% el espacio */
.nav{
   min-width: 100%;

}
ul{
    list-style: none;
    background-color: rgb(13, 0, 61);
    overflow: hidden;
    
} 
ul li{
    display: block;
    color:white;
    float:left;
    padding:20px;
    min-width:22.85%;
    text-align: center;
}
/*Subir texto con la imagen*/
img{
    width: 15%;
}

.block{
    display:flex;
    width: 100%;
}
.div{
    margin-left:3%;
    text-align:justify;
}
.footer{
    background: radial-gradient(farthest-side at 90% 240% ,blue 65%,lightblue 80% ,grey 100%);
    width: 100%;
    height: 70px;
    border-radius: 0px 40% 0px  40%;
}
footer{
    padding-top: 1.6%;
    padding-left: 0.7%;
    font-weight: bolder;
}