.header{
    width: 100%;
    height: 150px;
    background: linear-gradient(rgb(72, 255, 0),rgb(221, 255, 0));
    
}
.logo{
    padding-top:8px ;
    float:right;
}
.ies{
    color:white;
}
.clearfix{
display: flex;
width: 100%;
}
.columnMenu{

margin-left:-40px;
width: 20%;
}
li{
    background: green;
    list-style: none;
    color:white;
    font-size:medium;
    padding: 2%;
    margin-bottom:2%;
}
li::first-letter{
    color:goldenrod;
    font-size: x-large;
}
.columnContent{

  margin-left:5% ;
  width: 70%;
  font-size: large;

}
.columnNews{
float:right;
border:5px solid green;
width: 20%;
height: 180px;
margin:1%;
align-content: center;
font-size: large;
}

.footer{
    padding: 2%;
    width: 96%;
    background: radial-gradient(green 5%,rgb(24, 209, 24) 30%,greenyellow 60%);
    height: 60px;
}
.copyLeft{
    float:right;
}