ul.menu1 {
    background: rgba(54, 187, 248, 0.761);
    border: 1px solid rgba(0, 0, 0, 0.761);
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-content: center;
    text-align: center;

}
ul.menu1 li {
    float: left;
    width: auto;
    background-color: rgb(202, 202, 202);
    border-radius: 10%;
    border:1px solid black;
    align-content: center;
}
ul.menu1 li a {
    align-content: center;
    color: #333;
    display: block;
    padding: .3em;
    text-decoration: none;
    align-content: center;
 }