

    /*COMANDO PARA COMPILAR DE SCSS A CSS*/
// sass SonfeGradient.scss SonfeGradient.css

  /*LINK PARA COMPRENDER MEJOR SCSS*/
/*https://www.w3schools.com/sass/sass_intro.php*/

//********************Variables*************************

//Variable para el linear gradient
$bg-lg:linear-gradient(rgb(72, 255, 0), rgb(221, 255, 0));

//padding
$p:0px;

//Dar porcentajes
$porcentajes:2%;

//Font-size
$fontS:large;

//*******************************************************

//mixin
@mixin li{
  color:white;
  list-style: none;
  font-size:medium;
  background: green;
}
@mixin floatR{
  float:right;
}

//Media
/*Esta abajo*/

//Función
@function height($num){
  @return $num*10;
}

//SCSS
.header {
    width: 100%;
    height: height(15px);
    background: $bg-lg;
    margin-bottom: 10px;
  .logo{
    padding-top: $p+8 ;
    
    @include floatR;
  }
  .ies{
    padding-top: $p+20 ;
    color:white;
    padding-left: $p+15 ;
  }
}

.clearfix{
  display: table;
  width: 100%;
  .menu{
    float:left;
    
    ul{
      margin:0px;
      padding:0px;
    li{
      @include li;
      padding:15px;
      margin: 5px;
      //Pseudo clase
      &:hover{
        background: rgb(0, 82, 0);
      }
      //Pseudo elemento
      &::first-letter{
        color:goldenrod;
        font-size: x-large;
      }
    } 
    }
  }
}
.column{
 float:left;
}

.news{
  @include floatR;
  text-align: center;
  border:5px solid green;
  font-size: $fontS;
  margin-top: 10px;
  }
  .footer{
    padding: $porcentajes;
    width: $porcentajes+94%;
    background: radial-gradient(green 5%,rgb(24, 209, 24) 30%,greenyellow 60%);
    height: height(6px);
    margin-top: 5px;  
    .copyLeft{
      @include floatR;
  }
}

// Media

.menu{
  width: 100%;
}
.news{
  width: 98%;
}

@media only screen and (min-width: 650px) { //Modo tablet
/*Este sera el ancho de las clases mientras el ancho de la pantalla no baje de 600px de tamaño,
  cuadno la resolución minima pasa de 968px de ancho a 650px, se pone en "modo móvil",
  aplicando los tamaños indicados anteriormente*/
  .menu {
    width: 30%;
  }
  .content {
    width: 70%;
  }
  .news {
    width: 99%;
  }
}

@media only screen and (min-width: 968px) { //Modo PC

  /*Este sera el ancho de las clases mientras el ancho de la pantalla no baje de 968px de tamaño,
  cuadno la resolución minima baja de los 968px de ancho, se pone en "modo tablet"*/
  .menu {
     width: 25%;
   }
   .content {
     width: 35%;
   }
   .news {
     width: 35%;
     height: height(19px);
   }

 }